<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="percept.myplan">

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-permission-sdk-23 android:name="android.permission.CALL_PHONE"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNAL_S"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Home"/>
        <activity
            android:name=".Activities.BaseActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <receiver
            android:name=".receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name=".receivers.AlarmRemoveReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="MyPlan.Remove.Alarm"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.AddAllAlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="MyPlan.AddAll.Alarm"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.MyReceiver"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".services.MyIntentService"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDqH4mXS_S4vtzjMgsqVFZTbDnWqmsxV9w"/>

        <activity
            android:name=".Activities.AddContactActivity"
            android:label="@string/title_activity_add_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddContactFromPhoneActivity"
            android:label="@string/title_activity_add_contact_from_phone"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity_1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Activities.SignUpActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="percept.myplan.Activities.LoginActivity"/>
        </activity>
        <activity
            android:name=".Activities.ForgetPwdActivity"
            android:label="@string/forgetpwdtitle"
            android:parentActivityName=".Activities.LoginActivity_1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="percept.myplan.Activities.LoginActivity_1"/>
        </activity>
        <activity
            android:name=".Activities.QuickMessageDetailsActivity"
            android:label="@string/title_activity_quick_message_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.EmergencyContactActivity"
            android:label="@string/title_activity_emergency_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.HelpListEditActivity"
            android:label="@string/title_activity_help_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.CreateQuickMsgActivity"
            android:label="@string/title_activity_create_quick_msg"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.SendMessageActivity"
            android:label="@string/title_activity_send_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.SettingProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Activities.SettingMoodRatingsActivity"
            android:label="@string/title_activity_moodratings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.SettingGeoTrackingActivity"
            android:label="@string/title_activity_geotracking"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.SettingExportMyPlanActivity"
            android:label="@string/title_activity_exportplan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.SettingNotificationActivity"
            android:label="@string/title_activity_notification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddHopeBoxActivity"
            android:label="@string/title_activity_addhopebox"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="me.crosswall.photo.pick.PickPhotosActiviy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.SymptomDetailsActivity"
            android:label="@string/title_activity_symptoms"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Activities.StrategyDetailsOwnActivity"
            android:label="@string/title_activity_strategy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.StrategyDetailsOtherActivity"
            android:label="@string/title_activity_strategy_details_other"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddNewSymptomActivity"
            android:label="@string/title_activity_addsymptom"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddStrategyToSymptomActivity"
            android:label="@string/addastrategy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddStrategyActivity"
            android:label="@string/addastrategy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.InspirationCategoryActivity"
            android:label="@string/inspiration"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.CategoryStrategyActivity"
            android:label="@string/inspiration"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AlarmListActivity"
            android:label="@string/inspiration"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddAlarmActivity"
            android:label="@string/inspiration"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddStrategyContactActivity"
            android:label="@string/allcontact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddStrategyImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddStrategyMusicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.MusicListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddStrategyLinksActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.HopeDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.HelpListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.HopeDetailsAddElementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.StrategyEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.DangerSignalsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddNoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Activities.SidasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.ImageDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.MoodActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.MoodSummaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.SharePositionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.SidaTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.StrategySubmittedDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddContactDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Activities.AssignPriorityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.EmergencyRoomDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AddEmergencyRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Activities.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.ExportMyPlanPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AlarmRepeatListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity
            android:name=".Activities.FullscreenVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>